venv/
__pycache__/
*.pyc
.env
*.db
.DS_Store
instance/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

# Keys - NEVER push these!
*.pem
*.key

# Large files
Terraform/.terraform/